<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		title Document
		link(rel="stylesheet", href="css/main.css")
	body.b-page
		.b-header
			a.b-header__logo.b-logo.b-logo--top(href="/")
				img.b-logo__image(src="img/logo.svg", alt="Spektr Hotel Bodrum")
			ul.b-header__menu.b-menu.b-menu--top
				li.b-menu__item: a.b-menu__link(href="#"): span Hotel
				li.b-menu__item: a.b-menu__link(href="#"): span Rooms
				li.b-menu__item: a.b-menu__link(href="#"): span Restaurants &amp; Bars
				li.b-menu__item: a.b-menu__link(href="#"): span Services
				li.b-menu__item: a.b-menu__link(href="#"): span Bodrum Peninsula
				li.b-menu__item: a.b-menu__link(href="#"): span Gallery
				li.b-menu__item: a.b-menu__link(href="#"): span Address &amp; Contacts
			.b-lang
			.b-contact
			a.b-ribbon(href="javascript:void(0)")
				.b-ribbon__item
		.b-content
			.b-content__wrapper
				.b-logo.b-logo--mini: include img/logo-mini.svg
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam cupiditate excepturi maxime! Nam voluptate, expedita ab alias, aut facilis id repellat vel placeat quae dignissimos consequuntur non! Dolorum recusandae quis architecto non quidem expedita ex, nesciunt neque, amet ipsa magnam, tempora quo. Perferendis aliquid fuga non tenetur, cupiditate magnam blanditiis.
			.b-content__footer
				p &copy; 2016 Spektr Hotel Bodrum <br> Copy and partial use of materials displayed on the site shall be approved by the site administrator
		.b-slider
			.b-slider__item(style="background-image: url(img/1.jpg)")
			.b-slider__item(style="background-image: url(img/2.jpg)")
			.b-slider__item(style="background-image: url(img/3.jpg)")
			.b-slider__item(style="background-image: url(img/4.jpg)")
			.b-slider__item(style="background-image: url(img/5.jpg)")
			.b-slider__item(style="background-image: url(img/6.jpg)")
			.b-slider__item(style="background-image: url(img/7.jpg)")
			.b-slider__item(style="background-image: url(img/8.jpg)")
			.b-slider__item(style="background-image: url(img/9.jpg)")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
		script(src="js/main.js")