<!DOCTYPE html>
html(lang="en")
	include include/head
	body.b-page
		- var activeItem = 1
		include include/header
		.b-content
			.b-content__wrapper
				.b-logo.b-logo--mini: include img/logo-mini.svg
				a.b-book(href="#", target="_blank"): span Reservations
				ul.b-menu.b-menu--rooms
					li.b-menu__item.is-active: a.b-menu__link(href="#"): span Standard
					li.b-menu__item: a.b-menu__link(href="#"): span Deluxe
					li.b-menu__item: a.b-menu__link(href="#"): span Family
					li.b-menu__item: a.b-menu__link(href="#"): span Suite
				| <hr>
				.b-slide.js-slide.is-visible.b-slide--slim
					.b-slide__content.js-scrollbar
						p Large rooms for maximum two guests, with a king size double or twin bed, access to balcony, terrace or garden. Each room is equipped with a desk for dining or work, walk-in closet, rain forest shower, flat screen TV, floor heating, Nespresso coffee machine and a well-stocked minibar. All the rooms have a sea view as well as free high-speed Wi-Fi and in-room safe.
						strong ROOM FEATURES (average size 20m²)
						ul 
							li King size double or twin bed
							li Comfortable armchair
							li Working desk
							li Nespresso coffee machine
							li Balcony, terrace or garden access
						strong BATHROOM
						ul 
							li Walk-in rain forest shower
							li Luxurious bathroom amenities
							li Professional hairdryer
						strong TECHNOLOGY
						ul 
							li LG televisions
							li High-speed Wi-Fi
							li Floor heating
							li Air conditioner
			include include/footer
		.b-slider.fotorama(data-width="100%", data-height="100%", data-autoplay="4000", data-loop="true" data-transition="dissolve", data-transitionduration="1000", data-arrows="false")
			.b-slider__item(style="background-image: url(img/1.jpg)") &nbsp;
			.b-slider__item(style="background-image: url(img/2.jpg)") &nbsp;
			.b-slider__item(style="background-image: url(img/3.jpg)") &nbsp;
			.b-slider__item(style="background-image: url(img/4.jpg)") &nbsp;
			.b-slider__item(style="background-image: url(img/5.jpg)") &nbsp;
			.b-slider__item(style="background-image: url(img/6.jpg)") &nbsp;
			.b-slider__item(style="background-image: url(img/7.jpg)") &nbsp;
			.b-slider__item(style="background-image: url(img/8.jpg)") &nbsp;
			.b-slider__item(style="background-image: url(img/9.jpg)") &nbsp;
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
		script(src="js/main.js")