.b-content__footer.js-footer
	p
		i.fa.fa-copyright
		| &nbsp;2016 Spektr Hotel Bodrum <br> Copy and partial use of materials displayed on the site shall be approved by the site administrator
	.b-social
		a.b-social__item(href="#"): i.fa.fa-facebook(aria-hidden="true")
		a.b-social__item(href="#"): i.fa.fa-instagram(aria-hidden="true")
		a.b-social__item(href="#"): i.fa.fa-youtube-play(aria-hidden="true")
		a.b-social__item(href="#"): i.fa.fa-twitter(aria-hidden="true")
		a.b-social__item(href="#"): i.fa.fa-google-plus(aria-hidden="true")