.b-content__footer.js-footer
	p &copy; 2016 Spektr Hotel Bodrum <br> Copy and partial use of materials displayed on the site shall be approved by the site administrator
	.b-social
		a.b-social__item(href="#"): include img/instagram.svg
		a.b-social__item(href="#"): include img/twitter.svg