.b-header
	a.b-header__logo.b-logo.b-logo--top(href="/")
		img.b-logo__image(src="../img/logo.svg", alt="Spektr Hotel Bodrum")
	ul.b-header__menu.b-menu.b-menu--top
		li.b-menu__item.is-selected: a.b-menu__link(href="#"): span Hotel
		li.b-menu__item: a.b-menu__link(href="#"): span Rooms
		li.b-menu__item: a.b-menu__link(href="#"): span Restaurants &amp; Bars
		li.b-menu__item: a.b-menu__link(href="#"): span Services
		li.b-menu__item: a.b-menu__link(href="#"): span Bodrum Peninsula
		li.b-menu__item: a.b-menu__link(href="#"): span Gallery
		li.b-menu__item: a.b-menu__link(href="#"): span Address &amp; Contacts
	.b-lang
	.b-contact
	a.b-ribbon.js-fullscreen(href="javascript:void(0)")
		.b-ribbon__item: include ../img/arrow.svg